<% Rails.logger.info '>>>>>>>>>>>>' %>
<% Rails.logger.info @question %>
<% Rails.logger.info @answer %>
<% Rails.logger.info '>>>>>>>>>>>>' %>
<div class="tag-list">
  <% @question.tags.order(:name).each do |tag| %>
    <span class="badge badge-pill badge-primary">
      <%= tag.name %>
    </span>
  <% end %>
</div>

<h2><%= @question.title %></h2>

<p><%= @question.body %></p>

<%= image_tag @question.image.url(:large) if @question.image.present? %>

<p><small>
  Posted <%= time_ago_in_words(@question.created_at)%> ago
  •
  Last edited <%= time_ago_in_words @question.updated_at %> ago
  •
  View Count: <%= @question.view_count %>
  •
  By: <%= @question.user&.full_name || '[DELETED]' %>
</small></p>



<div class="">
  <% if can?(:manage, @question) %>
   <%= link_to 'Edit', edit_question_path(@question) %>
   |
   <%= link_to 'Delete',
    question_path(@question),
    method: :delete,
    data: {
      confirm: 'Are you sure?'
    }
    %>
    <% end %>
</div>

<div class="like-widget">
<% if @like %>
  <%= link_to fa_icon('heart 2x'), like_path(@like), method: :delete %>
<% else %>
  <%= link_to fa_icon('heart-o 2x'), question_likes_path(@question), method: :post %>
<% end %>
<%= pluralize(@question.likes.count, 'like') %>
</div>

<h3>Answers</h3>




<%= form_for [@question, @answer] do |f| %>
<% if @answer.errors.present? %>
  <%= @answer.errors.full_messages.join(', ') %>
<% end %>
<div class="">
  <%= f.text_area :body, placeholder: "What's on your mind?" %>
</div>
<%= f.submit "Answer Question" %>
<% end %>

<hr>
<div class="answer-list">
  <% @answers.each do |answer| %>
    <div class="answer-list-item">
      <p><%= answer.body %><br>
        <% vote = answer.votes.find_by(user: current_user) %>
          <span class="vote-widget">
            <% if vote.nil? %>

              <%= link_to(
                fa_icon('arrow-up'),
                answer_votes_path(answer, {is_up: true}),
                method: :post
              ) %>
              <%= answer.vote_total %>
              <%= link_to(
                fa_icon('arrow-down'),
                answer_votes_path(answer, {is_up: false}),
                method: :post
              ) %>

            <% elsif vote.is_up? %>

              <%= link_to(
                fa_icon('arrow-up'),
                vote_path(vote),
                method: :delete,
                class: 'active'
              ) %>
              <%= answer.vote_total %>
              <%= link_to(
                fa_icon('arrow-down'),
                vote_path(vote, {is_up: false}),
                method: :patch
              ) %>

            <% else %>

                <%= link_to(
                  fa_icon('arrow-up'),
                  vote_path(vote, {is_up: true}),
                  method: :patch
                ) %>
                <%= answer.vote_total %>
                <%= link_to(
                  fa_icon('arrow-down'),
                  vote_path(vote),
                  method: :delete,
                  class: 'active'
                ) %>

            <% end %>
          </span>
        <small>
        Answered <%= time_ago_in_words(answer.created_at)%> ago •
        By: <%= answer.user&.full_name || '[DELETED]' %>
      </small>
      <% if can?(:manage, answer) %>
      <small>
        •
        <%= link_to 'Delete',
         answer_path(answer),
         method: :delete,
         data: {
           confirm: 'Are you sure?'
         }
         %>
      </small>
    <% end %>
  </p>
      <hr>

    </div>
  <% end %>
</div>
